body{
    background-color: rgb(239, 239, 149);
}
.container{
    width: 90vw;
    height: auto;
    background-color: black;
    border-radius: 1rem;
    margin: auto;


 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
   
    padding: 1rem 0rem;
    
    


    
}
.post{
background-color: #464545;
    color: white;
    width:fit-content;
    height: fit-content;
    padding: 0rem  1rem 0.5rem 1rem;
    border-radius: 2.5rem;
    display: flex;
flex-direction: column;

  align-items: center;
  margin: 1rem 1rem 0.4rem 1rem;
  

    
   
}
.update{
    display: flex;
   gap: 2rem;

    padding: 0rem 0rem 1.2rem 0rem;
}
.show{
    font-weight:800;
    font-size: larger;
    font-style: italic;

    text-decoration:underline;
    color: rgb(81, 236, 138);
}
.edit{
    font-weight:800;
    font-size: larger;
    font-style: italic;

    text-decoration: underline;
    color: rgb(214, 154, 23);

}
.delete {
    background-color: rgb(241, 97, 97);
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    border-style: none;

    
    
}
.new{
    font-weight: 900;
    font-size:x-large;
    color: cornflowerblue;

}
.user{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-weight: bolder;
}
.content{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.user span{
    color: rgb(166, 13, 166);
    text-decoration: wavy;
}
.content span{
    color: rgb(161, 13, 161);


}
